*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr;
}

.sidebar {
  background-color: #3e7b27;
  padding: 1.5em;
  grid-row: 1/3;
  display: grid;
  grid-template-rows: auto 1fr;
}

.side-head {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.side-head i {
  font-size: 2rem;
}

.nav ul {
  list-style-type: none;
  font-size: 1.25rem;
  margin-top: 2.5em;
  padding-left: 0;
}

ul li {
  margin-bottom: 1em;
}

li i {
  margin-right: 20px;
}

.header {
  grid-column: 2/3;
  background-color: #355f2e;
  color: white;
}

.inner-head {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 20px;
}

.search-container {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.search-bar {
  border-radius: 20px;
  font-size: 1.2rem;
  padding: 8px 10px;
}

label i {
  margin-right: 20px;
  font-size: 1.25rem;
}

.profile-container {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 30px;
  font-size: 1.2rem;
}

.profile-container img {
  background-color: #123524;
  border-radius: 50%;
}

.profile-container .userName {
  font-weight: 900;
  font-size: 1.3rem;
}
.greet-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.greet-container img {
  width: 75px;
  height: 75px;
  background-color: #123524;
  border-radius: 50%;
}
.bottom {
  font-size: 1.8rem;
}

.btns-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: end;
}

.btns-container button {
  font-size: 1.2rem;
  padding: 8px 25px;
  border-radius: 20px;
  border: none;
  background-color: #1f4529;
  color: white;
  font-weight: 900;
}
.main_content {
  grid-column: 2/3;
  display: grid;
}

.inner-main {
  display: grid;
  grid-template-columns: 1fr min(250px);
  padding: 20px;
  gap: 20px;
  background-color: #1f4529;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
.card {
  background-color: lightgreen;
  border-left: 10px solid darkgreen;
  border-radius: 10px;
  padding: 20px;

  display: grid;
  grid-template-rows: auto 110px auto;
}

.card-icons {
  justify-self: end;
}

.card i {
  margin: 0px 10px;
}

.announcement-card {
  background-color: lightgreen;
  padding: 20px;
  border-radius: 10px;
}

.announcement p {
  font-size: 0.8rem;
}

hr {
  margin: 10px 0;
  border: none;
  border-top: 2px solid darkgreen;
}

img {
  height: 50px;
  width: 50px;
}

.trending-container {
  margin-top: 20px;
}

.trending-card {
  background-color: lightgreen;
  padding: 1rem;
  border-radius: 10px;
}
.trend {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 10px;
}

.trend + .trend {
  margin-top: 10px;
}

.trend img {
  border-radius: 50%;
  background-color: darkgreen;
}

h2 {
  color: white;
}

.sidebar {
  color: white;
}
