*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  background-color: #f4f6ff;
  min-height: 100vh;
  display: flex;
}

img {
  height: 100vh;
}

.right-side {
  display: flex column;
  align-content: center;
  flex-grow: 1;
}

form {
  background-color: white;
}

button {
  background-color: #596d48;
}

input:invalid {
  border-color: red;
}

fieldset {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px; /* Space between columns and rows */
  align-items: center;
}
fieldset p {
  grid-column: span 2; /* Make the paragraph span both columns */
}

input {
  width: 100%;
  padding: 10px;
}
.form-group {
  display: flex;
  flex-direction: column; /* Makes each form group element take the same place in the grid */
}
