*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  background-color: #f4f6ff;
  min-height: 100vh;
  display: flex;
}

.image_container {
  flex-shrink: 0;
}

img {
  height: 100vh;
}

.right-side {
  display: flex column;
  align-content: center;
  flex-grow: 1;
}

form {
  background-color: white;
}

button {
  background-color: #596d48;
}

input:invalid {
  border-color: red;
}

fieldset {
  border: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  max-width: 50%;
}

input {
  padding: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.sect-top,
.sect-bottom,
form {
  padding-left: 40px;
}

.sect-top {
  font-size: 40px;
}
