*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  background-color: #ff9d23;
  position: relative;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 5px solid black;
}

.nav ul {
  white-space: nowrap;
  padding: 0;
  margin: 0;
}

.nav li {
  background-color: #f5d47a;
  display: inline-block;
  font-size: 1.2rem;
  padding: 0.4rem 1.2rem;
  margin-left: 15px;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  list-style-type: none;
}

.book-add {
  background-color: #f5d47a;
  display: inline-block;
  font-size: 1.2rem;
  padding: 0.4rem 1.2rem;
  margin-bottom: 10px;
  border-radius: 1rem;
  border: none;
}

#bookForm {
  background-color: #fef9e1;
  padding: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bookshelf {
  background-color: #e5d0ac;
  padding: 2rem;
}

.read-shelf {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
}

.book {
  background-color: #fef9e1;
  padding: 1rem;
  margin-right: 1rem;
  min-height: 200px;
}
