*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
.newGrid {
  display: flex;
  align-items: center;
  height: 2rem;
  margin: 0 auto;
}
.gridContainer {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100vh;
  margin: 0 auto;
}

.gridRow {
  display: flex;
  flex-grow: 1;
  align-items: stretch;
}

.gridSquare {
  flex-grow: 1;
  border: 1px solid black;
}
